@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables' as *;
.about {
  padding: 60px 0;
  &-inner {
    @include flex(column, flex-start, flex-start, nowrap, 20px);
  }
  &-descr {
    @include flex(column, flex-start, flex-start, nowrap, 12px);
    &__text {
      line-height: 125%;
      text-align: justify;
    }
  }
  &-social {
    margin: 0 auto;
    @include flex(row, center, flex-start, wrap, 16px);
    width: 100%;
    &__elem {
      text-decoration: none;
      color: inherit;
      @include flex(column, center, center, nowrap, 12px);
      flex: 1 1 150px;
      &-subtitle {
        text-align: center;
      }
      img {
        width: 70px;
      }
      span {
        text-align: center;
      }
    }
  }
  @media (min-width: 720px) {
    .about-inner {
      gap: 40px;
    }
    .about-descr {
      align-items: center;
      &__text {
        text-align: center;
      }
    }
  }
}
