// кольори, шрифти, кнопки
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$bg-dark: #171717;
$bg-gray: #212121;
$text-main: #ffffff;
$text-gray: #535353;
$accent-color: #27ae60;
$font-main: 'DM Sans', sans-serif;

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $accent-color;
  color: $text-main;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover,
  &:active {
    background-color: $text-main;
    color: $bg-dark;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
