@use 'variables' as *;
@forward './mixins.scss';

/* Основний файл SCSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: $font-main;
  line-height: 1.5;
  font-weight: 400;
  color: $text-main;
  background-color: $bg-dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: $accent-color;
}

body {
 min-height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main{
  flex: 1;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
