@use '../../styles/main.scss' as *;

header {
  padding: 15px 0;
  .container {
    @include flex(row, space-between, center, nowrap, 0);
  }
}

.menu-mob {
  @include flex(column, center, center);
  display: none;
}
.burger svg{
  cursor: pointer;
  &:hover,
  &:active {
    stroke: #27ae60;
    path {
      stroke: #fff;
    };
    g[id="SVGRepo_bgCarrier"] path {
      fill: #27ae60;
    };
  }
  @media (min-width: 768px) {
    display: none;
}
}
.active {
  display: flex;
}
.menu {
  display: none;
  @media (min-width: 768px) {
    @include flex (row, center, center,nowrap, 20px);
    width: 100%;
    max-width: 330px;
    display: flex;
}
}

