@use '../../styles/main.scss' as *;

header {
  .container {
    @include flex(row, space-between, center);
  }
}

.menu-mob {
  @include flex(column, center, center);
}
.menu {
  display: none;
}
@media (max-width: 768px) {
  .menu {
    width: 100%;
    max-width: 330px;
    display: none;
  }
}
